body {
  font-family: cursive;
  background-color: #264653;
  background-image: url("https://images.pexels.com/photos/17445017/pexels-photo-17445017/free-photo-of-of-kite-and-magic.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: contain;
}

/* div {
  padding: 2rem;
  border: 1px solid black;
  transition-duration: 100ms;
}

div.red {
  background-color: #2a9d8f;
}

div.blue {
  background-color: #e76f51;
}

div:hover {
  background-color: #e9c46a;
}

div.red div.blue:hover {`
  background-color: rgba(231, 111, 81, 0.3);
} */

.btn {
  width: 100%;
}

/* .secondary-menu {
  display: flex;
  justify-content: space-evenly;
} */
